@charset "UTF-8"

@import "vars"
@import "inuit.css/inuit"

$body-padding: 24px
$brand-color: #3F894A

.container, %container
  width: 100%
  max-width: 1200px
  margin: 0 auto
  padding: 0 20px

body, html
  background: #eee

body
  padding: $body-padding
  padding-top: 0

  @include media-query(desk)
    padding-top: 95px

h1, h2, h3
  @extend .weight--light

a, a:visited
  color: $brand-color

a:hover
  color: darken($brand-color, 15%)

#navbar
  @extend .cf
  border-bottom: 2px solid #427684
  padding-top: 10px
  padding-bottom: 10px
  background: #fff
  margin-bottom: 20px
  margin-left: -$body-padding
  margin-right: -$body-padding

  @include media-query(desk)
    position: fixed
    top: 0
    left: 0
    right: 0
    margin-left: 0
    margin-right: 0

.nav--main-nav
  float: right
  margin-top: 28px
  margin-bottom: 0

.nav__item--main-nav
  @extend .delta
  @extend .weight--light
  padding: 4px 15px
  text-decoration: none
  color: $brand-color

  &.active
    border-bottom: 3px solid $brand-color

  &:hover
    color: darken($brand-color, 15%)
    border-color: darken($brand-color, 15%)

.nav--sentence
  li
    padding-right: 0.25em
  li:last-child
    &:before
      content: " and "
    &:after
      display: inline
      content: "."

.page__content
  margin-top: 45px

.hero
  border-bottom: 1px solid #ccc
  padding-top: 33px
  padding-bottom: 45px
  background: #7FC4D6
  margin-left: -$body-padding
  margin-right: -$body-padding
  @include media-query(portable)
    margin-top: -20px

  h1
    color: #fff

  .nav--keywords
    li:hover
      padding-left: 0.25em
      margin-left: -0.25em
      background: #fff

.hero__content
  margin-top: 25px
  margin-bottom: 25px

.icon-brunch-logo-web
  display: block
  width: 200px
  height: 75px
  float: left

.icon-brunch-logo-napkin
  width: 256px
  height: 256px
  margin: 0 auto
  transition: background-size 0.2s
  background-size: 100%

  @media only screen and (max-width: 600px) and (min-width: 481px)
    background-size: 80%

pre code
  @extend .island
  border-top: 1px solid #ddd
  background: #f4f4f4
  margin-bottom: 0

.has-feature
  color: $brand-color
.hasnt-feature
  color: #874040

.builders
  border: 0

.builders li
  float: left
  border: 0

.builders a
  display: inline-block
  margin: 0 0.8em 1em 0
  width: 8em
  height: 28px
  line-height: 1.2

.builders img
  float: left
  margin-right: 1em
  border-radius: 0.2rem
  max-width: 100%

.builders .name
  font-weight: normal
  display: block

.tweets
  @include media-query(portable)
    display: none

.social-buttons > span
  @media only screen and (max-width: 640px)
    display: block
