extends /_layouts/_content-only

block content

  script.
    document.addEventListener('DOMContentLoaded', function() {
      ReactDOM.render(React.createElement(require('scripts/plugins'), null), document.querySelector('#plugins-body'));
    });

  :marked
    # Plugins

    <p>
      Brunch has a plugin ecosystem to achieve interoperability
      with various stuff simply via
      <a href="https://github.com/brunch/brunch/blob/master/docs/plugins.md">plugin API</a>
    </p>

    <p>
      For example, if you use JavaScript files in your project,
      you’ll need a plugin that adds JS support.
      Same with styles, templates, minifiers, linters and much more.
    </p>

    <p>
      To install new plugin, simply execute <code>npm install --save plugin-name</code>. This will install its Node.js dependencies and save them to <code>package.json</code>.
    </p>

    <p>To remove it, edit <code>package.json</code>’s <code>dependencies</code> hash.
      See <a href="http://npmjs.org/doc/json.html#dependencies">npm docs</a>
      for more docs on packages.
    </p>

    <p>
      Search for <a href="https://www.npmjs.org/search?q=brunch">brunch on npm</a> for even more plug-ins.
    </p>

    <div class="markdown-body">

    <h1>
    <a name="plugins" class="anchor" href="#plugins"><span class="octicon octicon-link"></span></a>Plugins</h1>

    <p>If you want to <strong>add your project here</strong>, simply <a href="https://github.com/brunch/brunch.github.io/blob/master/plugins.json">edit this file</a> and submit a pull request.</p>
    </div>

  div#plugins-body
