extends /_layouts/_content-only

block content

  script.
    document.addEventListener('DOMContentLoaded', function() {
      ReactDOM.render(React.createElement(require('scripts/skeletons'), null), document.querySelector('#skeletons-body'));
    });

  :marked
    # Skeletons

    A Brunch skeleton is basically an application boilerplate that provides a good starting point for new applications.

    Creating new application with any skeleton is pretty simple:

        # Simply create "dead simple" app without any opinions.
        brunch new
        # Example from an URL.
        brunch new -s paulmillr/brunch-with-chaplin
        # Same thing:
        brunch new --skeleton https://github.com/paulmillr/brunch-with-chaplin
        # There are some aliases for popular skeletons:
        brunch new custom-dir -s react

    Brunch doesn’t encourage you to use any particular technology,
    but application skeletons can start you on your way with a specific pattern.

    The [complete skeletons list](https://github.com/brunch/skeletons) is on GitHub. If you create your own open-source skeleton,
    feel free to add it!

  div#skeletons-body
