extends /_layouts/_default

block hero
  .hero
    .container
      .grid
        .grid__item.one-whole.desk-one-third
          .icon-brunch-logo-napkin
        .grid__item.one-whole.desk-two-thirds
          .hero__content
            h1 Are you coming to brunch?

block content
  include /_includes/main.html