extends /_layouts/_default

block content

  :markdown

    # Skeletons

    A Brunch skeleton is basically an application boilerplate that provides a good starting point for new applications.

    Creating new application with any skeleton is pretty simple:

        brunch new <path-or-URI> [optional-output-dir]
        # Example from GitHub
        brunch new gh:brunch/dead-simple
        # Example from a full URL
        brunch new https://github.com/paulmillr/brunch-with-chaplin

    Brunch doesn’t encourage you to use any particular technology,
    but application skeletons can start you on your way with a specific pattern.

    The [complete skeletons list](https://github.com/brunch/brunch/wiki/Skeletons) is on GitHub. If you create your own open-source skeleton,
    feel free to add it!

    ### Selected interesting skeletons:

    <ul>
      <li>
        <a href="https://github.com/brunch/dead-simple">Dead-simple brunch</a> — super minimal skeleton, useful if you want to port
        existing application or use your own stack.
      </li>

      <li>
        <a href="https://github.com/paulmillr/brunch-with-chaplin">Brunch with Chaplin</a>:
        HTML5 Boilerplate,
        <a href="http://chaplinjs.org/">Chaplin</a>
        framework over Backbone.js. Main languages are CoffeeScript,
        Stylus and Handlebars. Pretty useful for big apps.
        There are also
        <a href="https://github.com/bc-luke/sassy-brunch">SASS</a>,
        <a href="https://github.com/Nami-Doc/sticky-brunch">LiveScript</a> and
        <a href="https://github.com/jupl/chapless-brunch">Bootstrap + Stickit</a>
        alternatives available.
      </li>

      <li>
        <a href="http://backbonejs.org">Backbone</a>-based:
        <ul>
          <li>
            <a href="https://github.com/Anaphase/brunch-banana-pancakes">Brunch with banana pancakes</a>:
            tasty. Main languages are JavaScript, Sass, LESS &amp; Handlebars.
            Includes Backbone.Mediator &amp; Twitter Bootstrap.
          </li>

          <li>
            <a href="https://github.com/elving/brunch-with-hipsters">Brunch with hipsters</a>:
            Modernizr, Lodash, Backbone-Mediator,
            Font Awesome, Brunch Auto-Reload. Main languages are Coffee, Stylus and
            Handlebars.
          </li>

          <li>
            <a href="https://github.com/SimbCo/brunch-with-marionette">Brunch with Marionette</a>,
            <a href="https://github.com/pkmishra/Dhancha">Aura-brunch</a>
            and <a href="https://github.com/damassi/Backbone.Create">create.js canvas</a> skeletons
          </li>
        </ul>
      </li>

      <li>
        <a href="http://angularjs.org">Angular</a>-based:
        <ul>
          <li>
            <a href="https://github.com/scotch/angular-brunch-seed">Angular brunch seed</a>:
            AngularJS, Twitter Bootstrap. Main languages are CoffeeScript, Jade and Less.
            There are also
            <a href="https://github.com/scoarescoare/angular-brunch-true-north">sass + H5BP</a>
            and
            <a href="https://github.com/clkao/angular-brunch-seed-livescript">LiveScript</a> versions.
          </li>
          <li><a href="https://github.com/exlee/brunch-on-asteroids">Brunch on asteroids</a> — version with Jade, CoffeeScript, D3.js</li>
        </ul>
      </li>

      <li>
        <a href="http://emberjs.com">Ember</a>-based:
        <ul>
          <li><a href="https://github.com/gcollazo/brunch-with-ember-reloaded">Brunch with Ember Reloaded</a>: Handlebars, H5BP, Swag; based on the official ember starter kit</li>
          <li><a href="https://github.com/icholy/ember-brunch">Brunch with Ember</a>: Bootstrap, Handlebars</li>
          <li><a href="https://github.com/wordofchristian/brunch-with-hampsters">Brunch with Hampsters</a>: Coffee, Stylus, Embem.js, Swag, Font Awesome and modernizr</li>
          <li><a href="https://github.com/mutewinter/tapas-with-ember">Tapas with Ember</a>: CoffeeScript, Stylus, Handlebars, Ember Data, Ember Model.</li>
        </ul>

      </li>

      <li>
        And others:
        <ul>
          <li>
            <a href="https://github.com/markmarijnissen/spine-livescript-brunch-skeleton">Spine on Brunch</a>:
            with <a href="http://spinejs.com">Spine.js</a>.
            Main languages are LiveScript, Less and Jade.
          </li>
          <li>
            <a href="https://github.com/jupl/cordova-brunch">Cordova-brunch</a> which works nice with <a href="http://cordova.apache.org">Apache Cordova</a> (aka phonegap)
          </li>
        </ul>
      </li>
    </ul>