extends /_layouts/_content-only

block content

  :markdown

    # Skeletons

    A Brunch skeleton is basically an application boilerplate that provides a good starting point for new applications.

    Creating new application with any skeleton is pretty simple:

        brunch new <skeleton-URL> [optional-output-dir]
        # Example from GitHub
        brunch new gh:brunch/dead-simple
        # Example from a full URL
        brunch new https://github.com/paulmillr/brunch-with-chaplin

    Brunch doesn’t encourage you to use any particular technology,
    but application skeletons can start you on your way with a specific pattern.

    The [complete skeletons list](https://github.com/brunch/brunch/wiki/Skeletons) is on GitHub. If you create your own open-source skeleton,
    feel free to add it!

  table(style="border: 1px solid black")
    thead
      tr
        th Name
        th URL
        th Technologies
        th Description
    tbody
      tr
        td
          a(href="https://github.com/Anonyfox/node-webkit-hipster-seed") Node-Webkit Hipster Seed
          |  1,170 ★
        td 
          code gh:Anonyfox/node-webkit-hipster-seed
        td Node-Webkit, Grunt building, brunch-angular-seed (Jade, Less, Coffeescript, Angular, Bootstrap)
        td Ready to Use Skeleton to build Desktop Applications with all the Web goodies of today.
      tr
        td
          a(href='https://github.com/paulmillr/brunch-with-chaplin') Brunch with Chaplin
          |  252 ★
        td
          code gh:paulmillr/brunch-with-chaplin
        td CoffeeScript, Stylus, Handlebars
        td Chaplin, Backbone, HTML5 Boilerplate, jQuery. Perfect for big applications
      tr
        td
          a(href='https://github.com/scotch/angular-brunch-seed') Brunch with AngularJS
          |  206 ★
        td
          code gh:scotch/angular-brunch-seed
        td Coffeescript, Less, Jade
        td
          | Twitter Bootstrap with themes,
          a(href='https://github.com/vojtajina/testacular') Testacular
          | for unit tests
      tr
        td
          a(href='https://github.com/icholy/ember-brunch') Brunch with Ember
          |  92 ★
        td
          code gh:icholy/ember-brunch
        td JavaScript, CSS, Handlebars
        td Twitter Bootstrap, jQuery
      tr
        td
          a(href='https://github.com/elving/brunch-with-hipsters') Brunch with Hipsters
          |  98 ★
        td
          code gh:elving/brunch-with-hipsters
        td CoffeeScript, Stylus, Handlebars
        td
          | Swag, Lodash, Font Awesome, Normalize.css, HTML5 Boilerplate CSS Helpers, Brunch Auto-Reload, coffeelint-brunch and imageoptmizer-brunch. Works with Bower, includes generators and testing with Karma-Runner.
      tr
        td
          a(href='https://github.com/nezoomie/brunch-eggs-and-bacon') Brunch with eggs and bacon
          |  42 ★
        td
          code gh:nezoomie/brunch-eggs-and-bacon
        td JavaScript, Sass, LESS, Handlebars
        td Twitter Bootstrap, Mediator
      tr
        td
          a(href='https://github.com/gcollazo/brunch-with-ember-reloaded') Brunch with Ember Reloaded
          |  65 ★
        td
          code gh:gcollazo/brunch-with-ember-reloaded
        td CoffeeScript, Stylus, Handlebars
        td HTML5 Boilerplate, jQuery and Auto Reload
      tr
        td
          a(href='https://github.com/mutewinter/tapas-with-ember') Tapas with Ember
          |  118 ★
        td
          code gh:mutewinter/tapas-with-ember
        td CoffeeScript, Stylus, Handlebars, Ember Data, Ember Model
        td
          | A skeleton for rapid Ember development. Including automated Ember installation scripts, environment-specific JS builds, generators, and Ember.vim support.
      tr
        td
          a(href='https://github.com/brunch/simple-coffee-skeleton') Brunch with Coffee
          |  27 ★
        td
          code gh:brunch/simple-coffee-skeleton
        td CoffeeScript, Stylus, Handlebars
        td
          | HTML5 Boilerplate, jQuery. It was the default skeleton in brunch 1.1. Unsupported but still working.
      tr
        td
          a(href='https://github.com/Anaphase/brunch-banana-pancakes') Brunch with Banana Pancakes
          |  29 ★
        td
          code gh:Anaphase/brunch-banana-pancakes
        td JavaScript, Sass, LESS, Handlebars
        td
          | Twitter Bootstrap, Mediator. Essentially the same as
          a(href='https://github.com/nezoomie/brunch-eggs-and-bacon') Brunch with Eggs and Bacon
          | , but constantly updated to the latest library versions.
      tr
        td
          a(href='https://github.com/brunch/simple-js-skeleton') Brunch with JS
          |  24 ★
        td
          code gh:brunch/simple-js-skeleton
        td JavaScript, Stylus, Handlebars
        td HTML5 Boilerplate, jQuery. Unsupported but still working.
      tr
        td
          a(href='https://github.com/exlee/brunch-on-asteroids') Brunch On Asteroids
          |  24 ★
        td
          code gh:exlee/brunch-on-asteroids
        td Jade, Sass, CoffeeScript/LiveScript
        td
          | Brunch with Twitter Bootstrap 2.3 extended by Bootswatch themes, Angular.JS, optional LiveScript or CoffeeScript and some extra libraries preconfigured and included such as D3.js, AngularUI, jQuery UI.
      tr
        td
          a(href='https://github.com/jerfowler/ExpressBrunchJade') Express Brunch with Jade
          |  31 ★
        td
          code gh:jerfowler/ExpressBrunchJade
        td CoffeeScript, Stylus, Jade
        td
          | Custom server.coffee that watches your Express server files and restarts on hot code changes. Uses Jade for client and server side templates. Includes express framework generators and Mocha/Chai/Sinon for testacular testing. Everything hipsters has, and more...
      tr
        td
          a(href='https://github.com/clkao/angular-brunch-seed-livescript') Brunch with AngularJS in LiveScript
          |  19 ★
        td
          code gh:clkao/angular-brunch-seed-livescript
        td LiveScript, Sass, Jade
        td Twitter Bootstrap in Sass, LiveScript
      tr
        td
          a(href='https://github.com/SimbCo/brunch-with-marionette') Brunch with MarionetteJS
          |  22 ★
        td
          code gh:SimbCo/brunch-with-marionette
        td CoffeeScript, Stylus, Handlebars
        td
          | Based on the template we have been using for our MarionetteJS projects. Includes Twitter Bootstrap.
      tr
        td
          a(href='https://github.com/damassi/Javascript-App-Skeleton') JavaScript App Skeleton
          |  18 ★
        td
          code gh:damassi/Javascript-App-Skeleton
        td JavaScript, SASS, Handlebars
        td LiveReload, Backbone.Mediator, Mocha, Advanced Structure
      tr
        td
          a(href='https://github.com/scoarescoare/angular-brunch-true-north') Brunch Facing True North
          |  21 ★
        td
          code gh:scoarescoare/angular-brunch-true-north
        td Coffeescript, Compass, Sass, Jade, Initializr
        td
          | Built on the amazing
          a(href='https://github.com/scotch/angular-brunch-seed') Brunch with Angular skeleton
          | with a few tweaks including: Compass, Bootstrap SASS, HTML5BP
      tr
        td
          a(href='https://github.com/monokrome/brunch-with-brunch') Brunch with brunch
          |  17 ★
        td
          code gh:monokrome/brunch-with-brunch
        td —
        td As minimal as possible for building your own toolchain on top of.
      tr
        td
          a(href='https://github.com/wordofchristian/brunch-with-hampsters') Brunch with Hampsters
          |  12 ★
        td
          code gh:wordofchristian/brunch-with-hampsters
        td
          | CoffeeScript, Stylus,
          a(href='http://emblemjs.com/') Emblem.js
        td
          | Also useful for rapid prototyping. Includes html5 boilerplate, Modernizer, and Twitter Bootstrap.
      tr
        td
          a(href='https://github.com/jokull/brunch-template') @jokull's skeleton
          |  12 ★
        td
          code gh:jokull/brunch-template
        td CoffeeScript, Stylus, Handlebars
        td Zepto, Stylus responsive grid, Modernizr, Facebook login, slideshow
      tr
        td
          a(href='https://github.com/pheuter/brunch-socket-soup') Brunch with SocketSoup
          |  10 ★
        td
          code gh:pheuter/brunch-socket-soup
        td Coffeescript, Stylus, Handlebars 
        td HTML5 Boilerplate, Twitter Bootstrap, Express, Socket.io
      tr
        td
          a(href='https://github.com/damiencaselli/spine-on-brunch') Spine on Brunch
          |  11 ★
        td
          code gh:damiencaselli/spine-on-brunch
        td CoffeeScript, CSS, Handlebars
        td HTML5 Boilerplate, jQuery
      tr
        td
          a(href='https://github.com/jupl/btc-chaplin') BTC-Chaplin
          |  14 ★
        td
          code gh:jupl/btc-chaplin
        td CoffeeScript, LESS, eco
        td
          | jQuery, Clearless, Twitter Bootstrap, Font Awesome, Backbone.stickit, Underscore.string. Cake tasks included. There's also a 
          a(href='https://github.com/jupl/btc-chaplin/tree/cordova') variant with Cordova.
      tr
        td
          a(href='https://github.com/jupl/btc-ember') BTC-Ember
          | 19 ★
        td
          code gh:jupl/btc-ember
        td CoffeeScript, Handlebars, LESS
        td
          | Clearless, Twitter Bootstrap, Font Awesome. Require statements are not need for Ember modules. Cake tasks included. There's also a
          a(href='https://github.com/jupl/cinder-brunch/tree/cordova') variant with Cordova.
      tr
        td
          a(href='https://github.com/jupl/btc-cordova') BTC-Cordova
          | 21 ★
        td
          code gh:jupl/btc-cordova
        td —
        td Bare skeleton that includes support for building apps using Apache Cordova.
      tr
        td
          a(href='https://github.com/trunkclub/brunch-with-panache') Brunch with Panache
          |  9 ★
        td
          code gh:trunkclub/brunch-with-panache
        td CoffeeScript, Sass, Handlebars
        td
          | BTC-Chaplin fork with Swag, Express, Browser Sync and Cordova. Provides file fingerprinting and accepts environment variables. Testing with Karma, PhantomJS, Mocha, Sinon and Chai. Jake for Rails-like CLI. SUIT CSS and Pleeease en route.
      tr
        td
          a(href='https://github.com/eriwen/brunch-jade-bootstrap-and-coffee') Brunch with Bootstrap, Sass, and Coffee
          |  10 ★
        td
          code gh:eriwen/brunch-jade-bootstrap-and-coffee
        td CoffeeScript, Sass, Jade
        td Twitter Bootstrap, Bootstrap-Sass, Mediator, jQuery
      tr
        td
          a(href='https://github.com/gkz/brunch-bare-livescript') Brunch with bare livescript
          |  10 ★
        td
          code gh:gkz/brunch-bare-livescript
        td LiveScript, Less
        td Extremely simple skeleton without any frameworks
      tr
        td
          a(href='https://github.com/bc-luke/sassy-brunch') Sassy Brunch
          |  10 ★
        td
          code gh:bc-luke/sassy-brunch
        td
          | CoffeeScript,
          a(href='https://sass-lang.org') Sass
          | , Handlebars
        td Just like Brunch with Chaplin, but replaces Stylus with Sass
      tr
        td
          a(href='https://github.com/damassi/Coffeescript-App-Skeleton') CoffeeScript App Skeleton
          |  7 ★
        td
          code gh:damassi/Coffeescript-App-Skeleton
        td CoffeeScript, Stylus, Handlebars
        td HTML5 Boilerplate, jQuery, Mediator, advanced structure
      tr
        td
          a(href='https://github.com/edgycircle/cinder-plate') Cinder Plate
          |  8 ★
        td
          code gh:edgycircle/cinder-plate
        td CoffeeScript, SASS, Handlebars
        td
          | CoffeeScript, SASS, Handlebars template pre-compilation, production and development builds with appropriate Ember.js version (debug or production).
      tr
        td
          a(href='https://github.com/Nami-Doc/brunch-with-ketchup') Brunch With Ketchup
          |  7 ★
        td
          code gh:Nami-Doc/brunch-with-ketchup
        td LiveScript, Stylus, Jade
        td Meant for large applications. Includes express-resource.
      tr
        td
          a(href='https://github.com/eliellis/brunch-bacon-pancakes/') Brunch with Bacon Pancakes
          |  11 ★
        td
          code gh:eliellis/brunch-bacon-pancakes
        td JavaScript, Sass, LESS, Handlebars
        td
          | Created with 
          a(href='https://github.com/Anaphase/brunch-banana-pancakes') Brunch with Banana Pancakes
          | as a base, Brunch with Bacon Pancakes includes Twitter Bootstrap with FontAwesome as style boilerplate.
      tr
        td
          a(href='https://github.com/vip32/brunch-with-chaplin-and-bootstrap') Brunch with Chaplin and Bootstrap
          |  8 ★
        td
          code gh:vip32/brunch-with-chaplin-and-bootstrap
        td CoffeeScript, Stylus, Handlebars
        td HTML5 Boilerplate, Bootstrap, jQuery
      tr
        td
          a(href='https://github.com/tricinel/brunch-ember-sassy') Sassy Brunch with Ember and CoffeeSoup
          |  4 ★
        td
          code gh:tricinel/brunch-ember-sassy
        td CoffeeScript, Sass, Handlebars
        td HTML5 Boilerplate, Twitter Bootstrap (Compass), jQuery
      tr
        td
          a(href='https://github.com/EnosFeedler/brunch-dutch-baby') Brunch Dutch Baby
          |  8 ★
        td
          code gh:EnosFeedler/brunch-dutch-baby
        td Coffeescript, Stylus, Jade
        td Backbone.js, Bootstrap 3, Karma Test Runner
      tr
        td
          a(href='https://github.com/ocombe/angular-brunch-seed-no-fuss') Angular & Brunch - No fuss
          |  15 ★
        td
          code gh:ocombe/angular-brunch-seed-no-fuss
        td Compass, Sass, Initializr
        td
          | Built on
          a(href='https://github.com/scoarescoare/angular-brunch-true-north') Brunch Facing True North
          | with updated libs and without Jade / Coffeescript
      tr
        td
          a(href='https://github.com/connorblack/brunch-with-moby') Brunch with Moby
          |  6 ★
        td
          code gh:connorblack/brunch-with-moby
        td
          a(href='http://phonegap.com/') PhoneGap (Cordova)
          | ,
          a(href='http://lungo.tapquo.com/') Lungo.js
        td
          | Simple skeleton optimized for PhoneGap and integrated with Lungo.js for sexy prototyping. Easily create native-like mobile apps!
      tr
        td
          a(href='https://github.com/meleyal/brunch-crumbs') Brunch Crumbs
          |  4 ★
        td
          code gh:meleyal/brunch-crumbs
        td CoffeeScript, jQuery, Sass, Eco
        td
          | Minimal structure based on H5BP, testing via Karma/Jasmine, Docs via Docco, deployment via Heroku.
      tr
        td
          a(href='https://github.com/tUrG0n/brunch-chrunb') Brunch chrunb
          |  4 ★
        td
          code gh:tUrG0n/brunch-chrunb
        td CoffeeScript, Stylus, Jade
        td Twitter Bootstrap, jQuery
      tr
        td
          a(href='https://github.com/brunch/dead-simple') Dead-simple brunch
          |  10 ★
        td
          code gh:brunch/dead-simple
        td —
        td Dead-simple brunch skeleton. No opinions, just empty dirs and minimal configs.
      tr
        td
          a(href='https://github.com/DallanQ/brunch-with-chaplin-and-initializr') Brunch with Chaplin and Initializr
          |  3 ★
        td
          code gh:DallanQ/brunch-with-chaplin-and-initializr
        td CoffeeScript, Stylus, LESS, Handlebars
        td
          | HTML5 Boilerplate, Bootstrap, jQuery, Modernizr — includes individual bootstrap style files and javascript plugins so you can omit or modify them
      tr
        td
          a(href='https://github.com/cbosco/coffee-purist-brunch') Coffee purist brunch
          |  4 ★
        td
          code gh:cbosco/coffee-purist-brunch
        td CoffeeScript, LESS, eco templates
        td
          | jQuery, Mocha. Tests run with no need to build into public/ directory or duplicate test/vendor libraries. For those who want to bundle libs specifically made for CoffeeScript.
      tr
        td
          a(href='https://github.com/Anaphase/cinnamon-toast-brunch') Cinnamon Toast Brunch
          |  4 ★
        td
          code gh:Anaphase/cinnamon-toast-brunch
        td CoffeeScript, Stylus, & SIML
        td
          | Never write a semicolon again! Cinnamon Toast Brunch focuses on concise and clean code.
      tr
        td
          a(href='https://github.com/aheuermann/Ultimate-Omelette-Brunch') Ultimate Omelette Brunch
          |  3 ★
        td
          code gh:aheuermann/Ultimate-Omelette-Brunch
        td CoffeeScript, Less, Jade
        td
          | CoffeeScript, Less, Jade, Bootstrap (
          a(href='http://bootswatch.com/flatly/') Flatly Theme
          | ),
          a(href='http://angular-ui.github.io/bootstrap/') Angular UI-Bootstrap
      tr
        td
          a(href='https://github.com/thomdixon/brunch-chicken-and-waffles') Brunch with chicken and waffles
          |  9 ★
        td
          code gh:thomdixon/brunch-chicken-and-waffles
        td CoffeeScript
        td Angular, AngularUI, and Bootstrap 3
      tr
        td
          a(href='https://github.com/codevinsky/brunch-with-edge-benedict') Brunch with Edge Benedict
          |  6 ★
        td
          code gh:codevinsky/brunch-with-edge-benedict
        td Coffeescript, Less, Jade
        td
          | Always kept up-to-date with the newest libraries: AngularJS 1.2.0-rc.3, Bootstrap 3, jQuery 2.0.3, Sling UI 0.2.3
      tr
        td
          a(href='https://github.com/Nami-Doc/sticky-brunch') Sticky Brunch
          |  1 ★
        td
          code gh:Nami-Doc/sticky-brunch
        td LiveScript, Stylus, Jade
        td
          | Includes
          a(href='http://nytimes.github.com/backbone.stickit/') Stickit
          | for MVVM-like behavior. No CSS framework included.
      tr
        td
          a(href='https://github.com/felipesabino/brunch-with-sass-and-jade') Brunch With Sass and Jade
          |  3 ★
        td
          code gh:felipesabino/brunch-with-sass-and-jade
        td
          | CoffeeScript,
          a(href='https://sass-lang.org') Sass
          | ,
          a(href='http://jade-lang.com') Jade
        td Brunch with Chaplin, Sass, Jade, jQuery and Underscore
      tr
        td
          a(href='https://github.com/sandy98/brunch-with-puppets') Brunch with Puppets
          |  5 ★
        td
          code gh:sandy98/brunch-with-puppets
        td CoffeeScript, Stylus
        td
          | MarionetteJS - Twitter Bootstrap based skeleton with expanded, login prepared menu and some other goodies
      tr
        td
          a(href='https://github.com/KyleAMathews/simple-brunch') Simple Brunch
          |  1 ★
        td
          code gh:KyleAMathews/simple-brunch
        td
          | CoffeeScript,
          a(href='https://sass-lang.org') Sass
          | /
          a(href='http://compass-style.org') Compass
          | , Eco
        td
          | Includes some nice typography defaults and
          a(href='http://susy.oddbird.net/') Susy
          | , a responsive grid system.
      tr
        td
          a(href='https://github.com/smazurov/brunch-marcos') Brunch Marcos
          |  2 ★
        td
          code gh:smazurov/brunch-marcos
        td
          | JavaScript,
          a(href='http://learnboost.github.com/stylus/') Stylus
          | /
          a(href='http://handlebarsjs.com') Handlebars
        td
          a(href='http://layoutmanager.org/') LayoutManager
          | ,
          b Tests
          | , Sensible structure to write large maintainable apps.
      tr
        td
          a(href='https://github.com/sjlu/brunch-time') Brunch Time
          |  3 ★
        td
          code gh:sjlu/brunch-time
        td Javascript, LESS, Handlebars
        td Bower, Backbone.js, Normalize.css, lesshat
      tr
        td
          a(href='https://github.com/clonn/angular-express') Brunch with Angular-Express
          |  4 ★
        td
          code gh:clonn/angular-express
        td Coffeescript, Stylus, Angular, Express
        td HTML5 Boilerplate, Angular.js, Express
      tr
        td
          a(href='https://github.com/vip32/brunch-with-marionette') Brunch with MarionetteJS
          |  3 ★
        td
          code gh:vip32/brunch-with-marionette
        td CoffeeScript, Stylus, Handlebars, Bootstrap 3
        td
          | Copy of SimbCo/brunch-with-marionette which has specific implementation of routes/views
      tr
        td
          a(href='https://github.com/talentriot/brunch-foundation') Brunch Foundation
          |  2 ★
        td
          code gh:talentriot/brunch-foundation
        td
          | JavaScript, SASS/
          a(href='http://handlebarsjs.com') Handlebars
        td
          | Foundation CSS framework,
          a(href='http://layoutmanager.org/') LayoutManager
          | ,
          b Tests
          | , Sensible structure to write large maintainable apps. Intended for mobile-first
      tr
        td
          a(href='https://github.com/ksnyde/brunch-with-ember-sideloaded') Brunch with Ember Sideloaded
          | 6 ★
        td
          code gh:ksnyde/brunch-with-ember-sideloaded
        td Javascript, LESS, Handlebars
        td Bootstrap 3, MomentJS, HTML5 Boilerplate, jQuery and Auto Reload
      tr
        td
          a(href='https://github.com/stefanvermaas/brunch-with-sass') Brunch with SASS
          | 1 ★
        td
          code gh:stefanvermaas/brunch-with-sass
        td
          | CoffeeScript, Sass, Handlebars
        td
          | Brunch with SASS provides a working Brunch with Chaplin skeleton with SASS enabled instead of Stylus
      tr
        td
          a(href='https://github.com/monokrome/brunch-with-grits') Brunch with Grits
          | 3 ★
        td
          | Backbone,
          a(href='https://github.com/marionettejs/backbone.marionette') Marionette
        td CoffeeScript, Stylus
        td Brunch with CoffeeScript, Stylus, Backbone, Marrionette, and jQuery.
      tr
        td
          a(href='https://github.com/pkmishra/Dhancha') Brunch with Coffee & Dust
          | 8 ★
        td
        td CoffeeScript, LESS, Dust.js
        td Twitter Bootstrap and Aura based skeleton.
      tr
        td
          a(href='https://github.com/timebox-designs/pineapple-in-a-can') Pineapple in a Can
          | 2 ★
        td
          code gh:timebox-designs/pineapple-in-a-can
        td JavaScript, Stylus
        td
          | Backbone, bootstrap, font awesome, handlebars, jQuery, marionette, swag and underscore. Chock full of yummy goodness!
      tr
        td
          a(href='https://github.com/timebox-designs/canned-coral') Canned Coral
        td
          code gh:timebox-designs/canned-coral
        td JavaScript, Stylus
        td A copy of Pineapple in a Can with a reverse proxy.
      tr
        td
          a(href='https://github.com/davidfregoli/brunch-with-underscore-js-less') Brunch with Underscore, LESS and JS
          | 2 ★
        td
          code gh:davidfregoli/brunch-with-underscore-js-less
        td Underscore templates, LESS styles, plain JS
        td Minimal Brunch Skeleton with Underscore templates, LESS styles and vanilla JS
      tr
        td
          a(href='https://github.com/askalyuk/brunch-fruits') Brunch with Fruits
          | 2 ★
        td
          code gh:askalyuk/brunch-fruits
        td JavaScript, Handlebars, LESS/SASS
        td Bootstrap, Mocha/Chai. It has example of deployed full-stack application.
      tr
        td
          a(href='https://github.com/huafu/brunch-with-ember-and-bootstrap') Brunch with Ember and Bootstrap
          | 8 ★
        td
          code gh:huafu/brunch-with-ember-and-bootstrap
        td CoffeeScript, Ember, Ember data, Stylus and Handlebars
        td
          | HTML5 Boilerplate, Twitter Bootstrap (Stylus version), jQuery, Keyword, Ember Bootstrap and Auto Reload
      tr
        td
          a(href='https://github.com/abronte/brunch-on-fire') Brunch on fire
          | 1 ★
        td
          code gh:abronte/brunch-on-fire
        td CoffeeScript, SASS, Handlebars
        td
          | Straightforward ember bundle. Includes jQuery and tests are setup using mocha + chai.
      tr
        td
          a(href='https://github.com/markmarijnissen/spine-livescript-brunch-skeleton') Spine.js with Bootstrap OR jQuery Mobile
          | 8 ★
        td
          code gh:markmarijnissen/spine-livescript-brunch-skeleton
        td LiveScript, Less, Jade
        td
          | jQuery
          br
          | optionally add Twitter Bootstrap (LESS code!) or jQuery Mobile using generators. Also includes an Android Eclipse project using PhoneGap!
      tr
        td 
          a(href='https://github.com/MaggieCabrera/vegan-brunch')Vegan Brunch
        td 
          code gh:MaggieCabrera/vegan-brunch 
        td 
          Javascript, Sass, Compass
        td 
          | Simple brunch skeleton to support foundation 4 and compass
      tr
        td
          a(href='https://github.com/ashleydavis/AngularJS-Skeleton') Simple Brunch with AngularJS
        td
          code gh:ashleydavis/AngularJS-Skeleton
        td
        td AngularJS v1.1.4 and jQuery v2.0.2
      tr
        td
          a(href='https://github.com/monokrome/brunch-for-libs') Brunch for libs
          | 3 ★
        td
          code gh:monokrome/brunch-for-libs
        td —
        td
          | A super minimal brunch configuration for building Javascript libraries on top of.
      tr
        td
          a(href='https://github.com/sandy98/brunch-with-wisp') Brunch with Wisp
          | 1 ★
        td
          code gh:sandy98/brunch-with-wisp
        td
          a(href='https://github.com/Gozala/wisp') Wisp
        td
          | Tiny skeleton meant to be a proof of concept for the use of Wisp, the Clojure-like Lisp dialect with Brunch.
      tr
        td
          a(href='https://github.com/GulinSS/brunch-bower-site') Brunch with CoffeeScript, Jade, Less, Bower
          | 1 ★
        td
          code gh:GulinSS/brunch-bower-site
        td CoffeeScript, Jade, Less, Bower
        td Minimal skeleton for modern Client-Side development based on stack.
      tr
        td
          a(href='https://github.com/TessaHarmon/brunch-jade-stylus') Brunch with Jade and Stylus
          | 5 ★
        td
          code gh:TessaHarmon/brunch-jade-stylus
        td Jade, Stylus
        td Minimal skeleton based on brunch-with-brunch for jade/stylus lovers.
      tr
        td
          a(href='https://github.com/warrenseine/brunch-react-less') Brunch with React and Less
          | 1 ★
        td
          code gh:warrenseine/brunch-react-less
        td Javascript, React, Less, Bower, Vagrant
        td Skeleton for cross-platform rapid development with React and Less. Just run <code>vagrant up</code> and edit the code.
