ul.nav.nav--keywords.nav--sentence
  li <strong>compiles</strong> your scripts, templates, styles
  li <strong>lints</strong> them
  li <strong>wraps</strong> the scripts and templates in common.js / AMD modules.
  li <strong>concatenates</strong> scripts and styles
  li <strong>generates source maps</strong> for concatenated files
  li <strong>copies</strong> assets and static files
  li <strong>shrinks</strong> the output by minifying code and optimizing images
  li <strong>watches</strong> your files for changes
  li <strong>notifies</strong> you about errors via console and system notifications
