body {
  font: 16px/1.5 "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-weight: 300;
  margin: 0px;
  padding: 0px 0 20px 0px;
  background: #F5F1E8;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  color: #393939;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

h3, h4, h5, h6 {
  color: #666666;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #FF5D55;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:hover {
  color: #FF2D22;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url("../images/bullet.png");
  padding-left: 0.75em;
  line-height: 1.75;
}

strong {
  font-weight: bold;
  color: #333;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 13px;
  background: #eee;
  color: #666;
  margin: 0 4px;
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

pre {
  padding: 8px 15px;
  background: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  overflow: auto;
  overflow-y: hidden;
}

pre code {
  display: block;
  padding: 0;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #444;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

td:first-child {
  border-left: 1px solid #ffcc00;
}

hr {
  border: 0;
  outline: none;
  height: 11px;
  background: transparent url("../images/hr.gif") center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: #444;
  font-weight: 700;
}

small {
  font-size: 12px;
}
