.compare-link-container {
  position: relative;
  visibility: hidden;
}
.compare-link {
  position: absolute;
  top: -60px;
}

.has-feature {
  color: #39AE40;
  text-align: center;
}
.hasnt-feature {
  color: #FF5D55;
  text-align: center;
}

.compare-builders tr td:last-child {
  font-size: 12px;
}

.users {
  text-align: center; }
  .users img {
    display: inline-block;
    padding-right: 40px;
    text-align: left; }

.builders a {
  display: inline-block;
  margin: 0 1em 1em 0;
  width: 9em;
  height: 18px;
  line-height: 1.2;
}
.builders img {
  float: left;
  margin-right: 1em;
  border-radius: 0.2rem;
}
.builders .name {
  font-weight: normal;
  display: block;
}
