<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Brunch | ultra-fast HTML5 build tool</title>
  <link rel="stylesheet" href="http://brunch.io/stylesheets/normalize.css">
  <link rel="stylesheet" href="http://brunch.io/stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <header class="main-header">
    <h1>
      <a href="images/logos.zip" title="Download the Brunch logo">
        <img src="images/brunch.png" alt="Brunch">
      </a>
    </h1>
    <p>A lightweight approach to building HTML5 applications with an emphasis on elegance and simplicity.</p>
  </header>

  <div class="wrapper">

    <header class="nav-header">
      <div class="list-wrapper">
        <ul class="page-nav">
          <li class="logo-text">
            <div class="logo"><img class="logoa" width="30" src="/images/avatar.png" alt=""></div>
            <a href="/" data-pattern="\/$"><span class="logo-text-entity">Brunch</span></a>
            <button class="toggle-navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </li>
          <li class="nav-toggle-content"><a href="https://github.com/brunch/brunch/tree/stable/docs">Docs</a></li>

          <!--<li class="nav-toggle-content"><a href="/examples.html" data-pattern="examples\.html$">Examples</a></li>-->
          <li class="nav-toggle-content"><a href="https://github.com/brunch/brunch/wiki/Skeletons" data-pattern="skeletons\.html$">Skeletons</a></li>
          <li class="nav-toggle-content"><a href="https://github.com/brunch/brunch/wiki/Plugins" data-pattern="plugins\.html$">Plugins</a></li>

          <li class="nav-toggle-content"><a href="/support.html" data-pattern="support\.html$">Support</a></li>
        </ul>
      </div>
    </header>
    <section>{{ content }}</section>
  </div>

  <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f1631bbcb25bc723b000007');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
