

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: table;
    clear: both;
    content: ""; }

body {
  padding-top: 60px; }
.brunch-logo {
  position: absolute;
  height: 25px; }
.logo-text {
  margin-left: 45px; }
.follow-button {
  font-weight: 500; }

.page-section {
  margin-top: -40px;
  padding-top: 40px; }
  .page-section#description {
    margin-top: -80px;
    padding-top: 80px;}

li li {
  list-style-type: circle; }

.brunch-project {
  padding: 10px 25px;
  float: left; }
  
.builders {
  text-align: center; }
.builders a {
  display: inline-block;
  margin: 0 1em 1em 0;
  text-align: left;
  width: 11em; }
.builders a:last-child {
  width: auto;
  margin-right: 0; }
.builders img {
  float: left;
  margin-right: 1em;
  border-radius: 0.2rem; }
.builders b {
  font-weight: normal;
  display: block; }
.builders small {
  display: block; }
